:root {
  //
  //    || FONT SIZE ||
  //

  // 30px
  --fs-800: 1.875rem;
  // 20px
  --fs-700: 1.25rem;
  // 16px
  --fs-600: 1rem;
  // 14px
  --fs-500: 0.875rem;
  // 12px
  --fs-400: 0.75rem;

  // responsive
  --fs-card-info: clamp(0.75rem, calc(0rem + 1.56vw), 1.25rem);
  --fs-lightbox-title: clamp(1.25rem, calc(0.31rem + 1.95vw), 1.88rem);
  --fs-copyright: clamp(0.88rem, calc(0.79rem + 0.45vw), 1rem);

  //
  //    || FONT WEIGHT ||
  //

  --fw-500: 500;
  --fw-400: 400;

  //
  //    || LINE HEIGHT ||
  //

  // USE THESE ↓
  --lh-600: 1.667;
  --lh-500: 1.34;
  --lh-400: 1.167;
  --lh-300: 1.143;

  --lh-copyright: 1.188;
}
