@use "../abstracts/mixins" as *;

.container {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  place-items: center;
  row-gap: 20px;

  max-width: 768px;
  padding: 20px 0 40px;
  margin-inline: auto;

  @include mq(mobile, and, tablet) {
    padding: 20px 15px 40px;
  }
  @include mq(tablet, and, desktop) {
    --column-count: 2;
    gap: 32px;
  }

  @include mq(tablet) {
    place-items: start;
    padding: 60px 23px;
  }
  @include mq(desktop) {
    --column-count: 3;
    max-width: 1280px;
    gap: 32px 16px;
  }
}
.wrapper {
  height: 100vh;
  height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.wrapper:nth-child(1) {
  grid-area: header;
}
.wrapper:nth-child(2) {
  grid-area: main;
}
.wrapper:nth-child(3) {
  grid-area: footer;
}
.library-container {
  @extend .container;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
}
.link {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
[aria-current="page"] {
  border-bottom: 3px solid red;
}
