//
//    || MEDIA QUERIES ||
//
$breakpoints: (
  // small
  mobile: 320px,
  // medium
  tablet: 768px,
  // large
  desktop: 1280px
);

//
//    || FONT COLORS ||
//
$font-color-dark: #000;
$font-color-light: #fff;

$font-color-accent: #ff6b08;
$font-color-dark-red: #ff001b;

$font-color-info: #8c8c8c;

$font-color-copyright: #545454;

$font-color-footer-dark: #d3d3d3;

//
//    || BACKGROUNDS ||
//
$bg-color-light: #fff;
$bg-color-accent: #ff6b08;

$bg-color-dark-mode: #333333;
$bg-color-switch-dark-mode: #707070;
$bg-color-switch-mode: #fff;
$bg-color-footer-dark: #1213132c;

$bg-color-rating-primary: #ff6b01;
$bg-color-rating-secondary: #f7f7f7;

//
//    || BORDERS ||
//
$border-dark: #000;
$border-light: #fff;

//
//    || BUTTONS ||
//
$button-font-color-dark: #000;
$button-font-color-light: #fff;

// button backgrounds
$button-bg-color-light-grey: #f7f7f7;
$button-bg-color-accent-priamry: #ff6b01;
$button-bg-color-accent-secondary: #ff6b08;
$button-bg-color-transparent: transparent;
$button-bg-color-dark-transparent: rgb(0 0 0/ 0.6);

//    || ICONS ||
$icon-color-light: #fff;

//    || MODE LIGHT/DARK ||
$button-bg-color-light-white: #fff;
//
//    || SVG ||
//
$fill-light: #fff;
$fill-light: #fff;
$fill-filter: green;
$fill-filter-adult: red;

//    || NEW ||

// Main text
$color-header: #ffffff;
$color-body: #000000;
$color-footer: #545454;

// Accent colors
$color-accent: #ff6b08;
$color-accent-sec: #ff6b01;
$color-link-underline: #ff001b;

// Background
$color-bcg: #e5e5e5;
$color-bcg-footer: #f7f7f7;

// Input forms
$color-text-placeholder: #505050;
$color-text-invalid: #ff705d;

// Util variables
$font-basic: "Roboto", sans-serif;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
