<div class="container-box container-genres">
  <a class="genres">Thriller</a>
  <a class="genres hidden-mobile_tablet">Romance</a>
  <a class="genres hidden-mobile">Fantasy</a>
  <a class="genres">Action</a>
  <a class="genres">Comedy</a>
  <a class="genres hidden-mobile">Family</a>
  <a class="genres hidden-mobile_tablet">Horror</a>
  <a class="genres hidden-mobile_tablet">Crime</a>
  <a class="genres hidden-mobile">Adventure</a>
  <a class="genres hidden-mobile_tablet">Science Fiction</a>
  <a class="genres">Drama</a>
  <a class="genres hidden-mobile">War</a>
  <a class="genres hidden-mobile">Mystery</a>
</div>
