<div class="container-box container-genres">
  <a class="genres" data-genre-id="53"></a>
  <a class="genres hidden-mobile_tablet" data-genre-id="10749"></a>
  <a class="genres hidden-mobile" data-genre-id="14"></a>
  <a class="genres" data-genre-id="28"></a>
  <a class="genres" data-genre-id="35"></a>
  <a class="genres hidden-mobile" data-genre-id="10751"></a>
  <a class="genres hidden-mobile_tablet" data-genre-id="27"></a>
  <a class="genres hidden-mobile_tablet" data-genre-id="80"></a>
  <a class="genres hidden-mobile" data-genre-id="12"></a>
  <a class="genres hidden-mobile_tablet" data-genre-id="878"></a>
  <a class="genres" data-genre-id="18"></a>
  <a class="genres hidden-mobile" data-genre-id="10752"></a>
  <a class="genres hidden-mobile" data-genre-id="9648"></a>
</div>
