<div class="container-box container-genres">
  <a class="genres" data-genre-id="53">Thriller</a>
  <a class="genres hidden-mobile_tablet" data-genre-id="10749">Romance</a>
  <a class="genres hidden-mobile" data-genre-id="14">Fantasy</a>
  <a class="genres" data-genre-id="28">Action</a>
  <a class="genres" data-genre-id="35">Comedy</a>
  <a class="genres hidden-mobile" data-genre-id="10751">Family</a>
  <a class="genres hidden-mobile_tablet" data-genre-id="27">Horror</a>
  <a class="genres hidden-mobile_tablet" data-genre-id="80">Crime</a>
  <a class="genres hidden-mobile" data-genre-id="12">Adventure</a>
  <a class="genres hidden-mobile_tablet" data-genre-id="878">Science Fiction</a>
  <a class="genres" data-genre-id="18">Drama</a>
  <a class="genres hidden-mobile" data-genre-id="10752">War</a>
  <a class="genres hidden-mobile" data-genre-id="9648">Mystery</a>
</div>
