<header class="header-home">
  <div class="header-home__main-content">
    <div class="header-home__title">
      <svg class="header-home__icon"></svg>
      <h1 class="header-home__h1">Filmoteka</h1>
    </div>

    <nav class="header-home__navigation">
      <a href="./index.html" class="header-home__home link uppercase"> Home </a>
      <a href="./library.html" class="header-home__my-library link uppercase"> My library </a>
    </nav>
  </div>

  <input
    type="text"
    name="movie search"
    placeholder="Movie search"
    class="header-home__search-input"
  />
</header>
