<header class="header-library header__library-image">
  <div class="header__library-main-content">
    <div class="header__title">
      <a href="./index.html" class="header__link link">
        <svg class="header__icon">
          <use href="/src/images/icons.svg#icon-film_header"></use>
        </svg>
        <h1 class="header__h1">Filmoteka</h1>
      </a>
    </div>

    <nav class="header__navigation">
      <a href="./index.html" class="header__home link uppercase"> Home </a>
      <a href="./library.html" class="header__my-library active link uppercase"> My library </a>
    </nav>
  </div>

  <include src="./partials/buttons-header-queue.html"></include>

  <div class="button-box">
    <include src="./partials/theme-switch.html"></include>
  </div>
</header>
