<div class="switch">
  <svg class="switch-icon__sun" role="img" aria-label="sun icon">
    <use href="/src/images/icons.svg#icon-sun"></use>
  </svg>

  <div class="switch-control">
    <input
      class="switch-control__toggle"
      type="checkbox"
      name="theme"
      id="switch-toggle"
      aria-label="switch between dark and light theme"
    />
    <label aria-hidden="true" class="switch-control__track" for="switch-toggle"> </label>
    <div aria-hidden="true" class="switch-control__marker"></div>
  </div>

  <svg class="switch-icon__moon" aria-label="moon icon">
    <use href="/src/images/icons.svg#icon-moon"></use>
  </svg>
</div>

