<button class="my-button">Kliknij mnie</button>
<div class="js-backdrop-trailer is-hidden" data-modal>
  <button type="button" class="close-button">
    <svg class="close-button__icon" width="50" height="50">
      <use href="/src/images/icons.svg#icon-close-btn"></use>
    </svg>
  </button>
  <div class="video-trailer trailer__hidden" id="video-trailer-player">
    <iframe
      class="youtube"
      width="1400"
      height="700"
      src="https://www.youtube.com/embed/xHNMEvYPdZE"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="trailer_video"
    ></iframe>
  </div>
</div>
