@use "../abstracts/mixins" as *;

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-template-columns: 1fr auto auto;
}
.button-box-container {
  display: flex;
}
