@use '../base/typography' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.filter-box {
  display: inline-flex;
  flex-direction: row-reverse;
  margin-bottom: 0px;
  margin-top: -61px;
  margin-right: 20px;

  @include mq(tablet) {
    margin-bottom: -10px;
    margin-top: -46px;
    margin-right: 72px;
  }
  @include mq(desktop) {
    margin-right: 60px;
  }
}
.filter-svg {
  animation-name: heartScale;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  fill: $fill-filter;
  width: 30px;
  @include mq(tablet) {
    width: 40px;
  }
  @include mq(desktop) {
    width: 60px;
  }
}
.btn-filter {
  padding: 0px;
  background: none;
  border: none;
}
.filter-color-adult {
  fill: $fill-filter-adult;
}
