@use '../base/typography' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.filter-svg {
  animation-name: heartScale;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  fill: $fill-filter;
}
.btn-filter {
  background: none;
  border: none;
}
.filter-color-adult {
  fill: $fill-filter-adult;
}
