@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn-filter {
  display: grid;
  align-self: end;
  width: min-content;
  padding: 0;
  background: none;
  border: none;
}
.filter-svg {
  animation-name: heartScale;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  fill: $fill-filter;
  width: 40px;
  height: 40px;

  @include mq(desktop) {
    width: 50px;
    height: 50px;
  }
}
.filter-color-adult {
  fill: $fill-filter-adult;
}
