@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.card {
    font-size: var(--fs-card-info);
    line-height: var(--lh-card-info);
    font-weight: var(--fw-500);
    width: 280px;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: transform 200ms ease-in;
    &:hover {
        transform: scale(1.05);
    }
    &:hover .btn-trailer {
        display: flex;
        transform: translateX(0%);
        opacity: 100%;
    }


    @include mq(tablet) {
        --lh-card: 1.2;
        width:336px;
    }
    @include mq(desktop) {
        --lh-card: 1.2;
        width:395px;
    }


    &__poster{
      width: 280px;
      height: 407px;
      margin-bottom: 12px;
      border-radius: 5px;
      z-index: 2;
      background-image: url('/src/images/cards/no-poster-image.png');
      background-position: top;
      background-size: 100%, 100%;
      background-repeat: no-repeat;

      @include mq(tablet) {
        --lh-card: 1.2;
        width:336px;
        height: 495px;
    }
    @include mq(desktop) {
        --lh-card: 1.2;
        width:395px;
        height: 574px;
      }
    }


    &__title {
        font-size: inherit;
        font-weight: var(--fw-500);
    }

    &__description {
        color: $font-color-accent;

    }

    &__tags {
        margin-right: 7px;
        padding-right: 7px;
        border-right: 2px solid $font-color-accent;
    }

    &__year {
        margin-right: 7px;
    }

    &__rating {
        color: #FFFFFF;
        font-size: var(--fs-400);
        padding: 3px 11px;
        background-color: $bg-color-accent;
        border-radius: 5px;
    }

}


@include screen-density(2) {
    .card__poster{
        background-image: url('/src/images/cards/no-poster-imagex2.png')
    }
}