@use '../base/typography' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.copyright {
  font-size: var(--fs-copyright);
  line-height: var(--lh-300);
}

.footer {
  background-color: $bg-color-rating-secondary;
  min-width: 320px;
  height: 100px;
  padding: 28px 32px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mq(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 768px;
    height: 79px;
    display: flex;
    flex-direction: row;
  }
  @include mq(desktop) {
    padding-top: 29px;
    padding-bottom: 29px;
    width: 1280px;
    height: 77px;
  }
}

.footer__content {
  font-family: $FF;
  color: $font-color-copyright;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 16.41px;
  @include mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.footer__text {
  display: inline;
}

.team-btn {
  margin-top: 12px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  color: $font-color-copyright;
  position: relative;
  transition: color 500ms ease-in-out, transform 500ms ease-in-out;
  transition: font-weight 500ms ease-in-out, transform 500ms ease-in-out;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  &:hover,
  &:focus,
  &:focus-within {
    font-weight: 600;
    transform: scale(1.05);
    color: $button-bg-color-accent-secondary;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $button-bg-color-accent-secondary;
    opacity: 0.5;
    animation-name: animateLine;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: opacity 500ms ease-in-out;
    &:focus,
    &:hover,
    &:focus-within {
      opacity: 1;
    }
  }
  &:hover::after {
    opacity: 0;
  }
  @include mq(tablet) {
    align-items: center;
    font-size: 16px;
    line-height: 18.75px;
    margin-top: 0;
  }
}

@keyframes animateLine {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}

.heart-svg {
  animation-name: heartScale;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
