@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  padding: 40px 20px 92px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;

  &-library {
    padding: 40px 20px 46px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
  }

  &__main-image {
    background-image: url('/src/images/home-banner/home-banner1.png');
  }

  &__library-image {
    background-image: url('/src/images/library-banner/library-banner1.png');
    background-size: cover;
    background-position: 50% 100%;
  }

  &__h1 {
    display: none;
    align-items: center;
    font-family: $font-color-light;
    font-size: var(--fs-800);
    font-weight: var(--fs-500);
    line-height: var(--lh-600);
    height: 35px;
    margin-left: 12px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $font-color-light;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
  }

  &__library-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  &__title {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__navigation a {
    position: relative;
  }

  &__navigation .active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: red;
    left: 0;
    bottom: -3px;
  }

  &__home {
    color: $font-color-light;
    font-family: $font-color-light;
    font-size: var(--fs-400);
    font-weight: var(--fs-500);
    line-height: var(--lh-400);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__my-library {
    color: $font-color-light;
    font-family: $font-color-light;
    font-size: var(--fs-400);
    font-weight: var(--fs-500);
    line-height: var(--lh-400);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__home:hover,
  &__my-library:hover {
    color: $bg-color-accent;
  }
  &__search-input:hover {
    border-color: $bg-color-accent;
  }
  &__link:hover,
  &__link:hover &__icon {
    color: $bg-color-accent;
    stroke: $bg-color-accent;
    animation: heartBeat 1.5s infinite;
  }
  @keyframes heartBeat {
    from {
      transform: scale(1);
    }
    14% {
      transform: scale(1.1);
      color: red;
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.1);
      color: red;
    }
    70% {
      transform: scale(1);
    }
  }

  &__div-input {
    display: flex;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: transparent;
    stroke: white;
    width: 24px;
    height: 24px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon-search {
    stroke: #ffffff;
    fill: transparent;
    position: relative;
    top: 4px;
    right: 12px;
    width: 12px;
    height: 12px;
  }

  &__search-input {
    display: flex;
    align-self: center;
    margin-left: 12px;
    padding-right: 13px;
    width: 280px;
    background: transparent;
    background: url('/src/images/icons.svg#icon-film_header');
    border: none;
    border-bottom: 0.5px solid #ffffff;
    outline: none;
    color: $font-color-light;
    font-size: var(--fs-500);
    font-weight: var(--fs-400);
    line-height: var(--lh-300);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__search-input::placeholder {
    color: $font-color-light;
    font-family: $font-color-light;
    font-size: var(--fs-500);
    font-weight: var(--fs-400);
    line-height: var(--lh-300);
    padding-top: 10px;
  }
  &__search-error {
    margin-top: 20px;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    font-weight: var(--fw-400);
    line-height: var(--lh-300);
    color: $font-color-dark-red;
  }
}

@include mq(tablet, and, desktop) {
  .header {
    padding: 40px 32px 81px;

    &-library {
      padding: 40px 32px 44px;
    }

    &__h1 {
      display: flex;
    }

    &__main-content {
      margin-bottom: 40px;
    }

    &__library-main-content {
      margin-bottom: 24px;
    }

    &__search-input {
      width: 336px;
    }
  }
}

@include mq(desktop) {
  .header {
    padding: 40px 32px 80px;

    &-library {
      padding: 40px 32px 44px;
    }

    &__library-main-content {
      margin-bottom: 24px;
    }

    &__h1 {
      display: flex;
    }

    &__search-input {
      width: 394px;
    }

    &__main-content {
      margin-bottom: 41px;
    }
  }
}

@include screen-density(2) {
  .header {
    &__main-image {
      background-image: url('/src/images/home-banner/home-banner1@2x.png');
    }

    &__library-image {
      background-image: url('/src/images/library-banner/library-banner1@2x.png');
    }
  }
}
