@forward '../components/header';
@forward '../components/card';
@forward '../components/footer';
@forward '../components/movie-modal';
@forward '../components/contributors-modal';
@forward '../components/loader';
@forward '../components/theme-switch';
@forward '../components/buttons-cards';
@forward '../components/buttons-header';
@forward '../components/button-trailer';
@forward '../components/button-filter';
@forward '../components/button-box';
@forward '../components/trailer-modal';
