@use "../base/typography" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../components/card";
.modal__title {
  font-size: var(--fs-movie-modal-title);
  line-height: var(--lh-400);
}

.backdrop {
  z-index: 1;
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  .modal {
    .movie-form {
      transform: scale(0);
      animation: zoomIn 0.3s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }
  &.out {
    transform: scale(1);
    animation: unfoldOut 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal {
      .movie-form {
        animation: zoomOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms linear;
  display: grid;
  justify-content: center;

  padding: 20px;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  @include mq(tablet) {
    align-items: center;
  }
}
.movie-form {
  position: relative;
  max-height: 90vh;
  background-color: $bg-color-light;
  overflow-y: auto;
  max-width: 400px;

  @include mq(tablet) {
    overflow-y: visible;
    max-width: 704px;
    height: 552px;
  }
  @include mq(desktop) {
    max-width: 806px;
    height: 558px;
  }
}

.close-btn {
  padding: 0;
  stroke: $font-color-dark;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: none;
  background-color: $bg-color-light;
  cursor: pointer;
  &:hover,
  &:focus {
    stroke: $font-color-accent;
  }
}
.movie {
  display: flex;
  flex-direction: column;

  @include mq(tablet) {
    // flex-direction: row;
  }
  &__poster {
    @extend .card__poster;
    background-size: contain;
  }
  &__description {
    box-sizing: content-box;
    display: flex;
    // justify-content: center;

    flex-direction: column;
    margin: 0;

    @include mq(tablet) {
      width: 264px;
      padding: 0px 72px 0px 68px;
    }
    @include mq(desktop) {
      width: 391px;
      padding: 0px;
      padding-left: 16px;
    }
  }
  &__title {
    font-weight: var(--fw-500);
    font-size: var(--fs-movie-modal-title);
    line-height: var(--lh-300);
    padding-top: 20px;
    color: $font-color-dark;
    text-transform: uppercase;
    margin-right: 20px;
    @include mq(tablet) {
      padding-top: 0;
    }
  }
}

.movie-image {
  width: 240px;
  height: 357px;
  align-self: center;

  @include mq(tablet) {
    margin-left: 0px;
    width: 264px;
    height: 374px;
    align-self: start;
  }

  @include mq(desktop) {
    margin-left: 0px;
    width: 375px;
    height: 478px;
  }

  &__img {
    border-radius: 5px;
    object-fit: contain;
    width: inherit;
    height: inherit;
  }

  &__delay {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 48px;

    @include mq(tablet) {
      flex-direction: row;
      box-sizing: content-box;
      height: 472px;
      padding-top: 40px;
      padding-left: 36px;
      padding-bottom: 40px;
    }
    @include mq(desktop) {
      padding-top: 40px;
      padding-left: 12px;
    }
  }
}

.table {
  margin-top: 20px;
  margin-right: 20px;

  &__title--votes {
    padding-right: 41px;

    @include mq(desktop) {
      padding-right: 85px;
    }
  }
  &__title--popularity {
    padding-right: 53px;

    @include mq(desktop) {
      padding-right: 97px;
    }
  }
  &__title--original-title {
    padding-right: 39px;

    @include mq(desktop) {
      padding-right: 83px;
    }
  }
  &__title--genre {
    padding-right: 76px;

    @include mq(desktop) {
      padding-right: 120px;
    }
  }
  &__row {
    font-weight: var(--fw-500);
    font-size: var(--fs-400);
    line-height: var(--lh-500);
    color: $font-color-info;
    &-item {
      display: inline-block;
    }
    &-span-orange {
      color: $color-header;
      border-radius: 5px;
      background-color: $bg-color-rating-primary;
      padding: 1px 10px;
    }
    &-span-gray {
      border-radius: 5px;
      background-color: $bg-color-rating-secondary;
      padding: 1px 10px;
    }
    &-item-info {
      color: $font-color-dark;
    }
    &-data {
      line-height: var(--lh-400);
      &:first-child {
        white-space: nowrap;
      }
    }
  }
}

.details {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  line-height: var(--lh-500);
  text-transform: uppercase;
  color: $font-color-dark;
  &__description {
    margin-top: 8px;
    font-weight: var(--fw-500);
    font-size: var(--fs-400);
    line-height: var(--lh-600);
  }
  &__container {
    margin-top: 20px;
    margin-right: 20px;

    @include mq(tablet) {
      margin-right: 0px;
      overflow-y: auto;
    }
  }
}
.grouped-buttons {
  width: 110px;
  height: 53px;
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  line-height: var(--lh-500);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $bg-color-light;
  border: 1px solid #000000;
  cursor: pointer;
  &:hover {
    background-color: $bg-color-rating-primary;
    color: $button-font-color-light;
    border: 1px solid transparent;
  }

  @include mq(tablet) {
    width: 125px;
    height: 44px;
  }

  @include mq(desktop) {
    width: 136px;
  }
  &__delay {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    // padding-bottom: 20px;

    @include mq(tablet) {
      justify-content: flex-start;
      gap: 15px;
    }

    @include mq(desktop) {
      margin-left: 8px;
    }
  }
}
.button-active {
  background-color: $bg-color-rating-primary;
  color: $button-font-color-light;
  border: 1px solid transparent;
}
