@use "../base/typography" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.placeholder-box {
  padding: 0;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;

  visibility: hidden;
  @include mq(tablet) {
  }
  @include mq(desktop) {
  }
  &--margin-top {
    margin-top: 50px;
  }
  &__image {
    display: flex;
    width: 200px;
    height: 220px;
    transform: translate(38px, 0px);
    @include mq(tablet) {
      width: 320px;
      height: 318px;
      transform: translate(70px);
    }
    @include mq(desktop) {
      width: 500px;
      height: 500px;
      transform: translate(100px);
    }
  }
  &--visiblity {
    visibility: visible;
    display: flex;
  }
}
