@use "../base/typography" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.close-button {
  position: relative;
  top: 20px;
  right: 40px;
  padding: 0;
  stroke: #fff;
  display: flex;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    stroke: #aaa;
  }
  @include mq(tablet) {
    right: 80px;
  }
  @include mq(desktop) {
    right: 120px;
  }
}
.js-backdrop-trailer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity 250ms linear;
  z-index: 20;
}
.trailer-is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}
.video-trailer {
  width: 300px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(tablet) {
    width: 600px;
    height: 400px;
  }
  @include mq(desktop) {
    width: 1000px;
    height: 700px;
  }
}
.youtube {
  width: 100%;
  height: 100%;
}
