@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container-arrow-up {
  position: fixed;
  line-height: 0;
  bottom: 49px;
  right: 19px;
  width: 47px;
  height: 47px;

  &:hover .arrow {
    fill: $bg-color-accent;
    border-color: $bg-color-accent;
    animation: arrowFloat 1s infinite;
    .arrow__icon {
      fill: $bg-color-accent;
    }
  }

  @include mq(tablet) {
    bottom: 19px;
  }
}
.arrow {
  position: fixed;
  right: 20px;
  border-radius: 50%;
  bottom: 50px;
  width: 45px;
  height: 45px;
  line-height: 0;
  color: $font-color-copyright;
  opacity: 0.75;
  cursor: pointer;
  border: 3 solid #bababa;
  padding: 0;
  transition: border-color 300ms;
  background-color: transparent;

  @include mq(tablet) {
    bottom: 20px;
  }
}

@keyframes arrowFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.arrow__icon {
  fill: #919191;
  transition: fill 300ms;
}
